# 2024 Olymptic Medelist Dataset

## 1. How many unique countries are represented in the dataset?
*Hint: Use the `unique()` or `nunique()` function on the `country` or `country_long` column.*

In [65]:
import pandas as pd
data=pd.read_csv("medallists.csv")
data.head()

data["country"].unique()

data['country_long'].nunique()

92

## 2. Which event had the most medalists?
*Hint: Use `value_counts()` on the `event` column to determine the event with the highest number of medalists.*

In [33]:
data["event"].value_counts().idxmax()

'Men'

## 3. What is the gender distribution of the medalists?
*Hint: Use `value_counts()` on the `gender` column.*

In [35]:
data["gender"].value_counts()

gender
Female    1162
Male      1153
Name: count, dtype: int64

## 4. How many athletes from Belgium won medals?
*Hint: Filter on the `country_code` column with `BEL` and check the number of rows.*

In [37]:
#athletes=0
#for i in data[data["country_code"].str.contains("BEL")]:
    #athletes+=1

#print(athletes)
#data[(data.country_code=="BEL")&(data.is_medallist=="TRUE")]
#data.country_code=="BEL"
data_BEL = data[data.country_code=="BEL"]
len(data_BEL)

10

## 5. What is the average age of gold medalists?
*Hint: Filter for `Gold Medal` in the `medal_type` column, and calculate the difference between `medal_date` and `birth_date`.*

In [39]:
data_GOLD = data[data.medal_type=="Gold Medal"]
data_GOLD['medal_date']=pd.to_datetime(data_GOLD["medal_date"], format="mixed")
data_GOLD['birth_date']=pd.to_datetime(data_GOLD["birth_date"], format="mixed")
data_agemean=data_GOLD['medal_date'].dt.year-data_GOLD['birth_date'].dt.year
data_agemean.mean()

/var/folders/52/tpv4fgrx5tz1dgs04zg1s3wr0000gn/T/ipykernel_8746/1312284273.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_GOLD['medal_date']=pd.to_datetime(data_GOLD["medal_date"], format="mixed")
/var/folders/52/tpv4fgrx5tz1dgs04zg1s3wr0000gn/T/ipykernel_8746/1312284273.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_GOLD['birth_date']=pd.to_datetime(data_GOLD["birth_date"], format="mixed")

26.993351063829788

## 6. List the names of all athletes who won a silver medal in a cycling event.
*Hint: Filter by `medal_type` (Silver) and `discipline` (Cycling Road), then display the `name` column.*

In [89]:
data_SILVER = data[(data.medal_type=="Silver Medal") & (data.discipline=="Cycling Road")]
data_SILVER["name"]

1         GANNA Filippo
4        HENDERSON Anna
267    MADOUAS Valentin
336        VOS Marianne
Name: name, dtype: object

## 7. How many events did female athletes participate in?
*Hint: Filter on `gender` (Female) and count the unique values in the `event` column.*

In [6]:
data_FEMALE = data[data.gender=="Female"]
data_FEMALE["event"].nunique()

150

## 8. Which country had the highest number of gold medals?
*Hint: Filter for `Gold Medal` in the `medal_type` column and use `value_counts()` on the `country` column.*

In [138]:
data_GOLD["country"].value_counts().head(1)

country
United States    134
Name: count, dtype: int64

## 9. What are the top three most common disciplines for male athletes?
*Hint: Filter by `gender` (Male) and use `value_counts()` on the `discipline` column to get the top three.*

In [107]:
data_top3=data[data.gender=="Male"]
data_top3["discipline"].value_counts().head(3)

discipline
Athletics    113
Swimming     107
Rowing        72
Name: count, dtype: int64

## 10. Find the youngest and oldest medalists in the dataset.
*Hint: Calculate the difference between `medal_date` and `birth_date`, then use `min()` and `max()`.*

In [67]:
data.sample()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
1188,2024-08-03,Gold Medal,1.0,BOL Femke,Female,NED,Netherlands,Netherlands,NED,Netherlands,...,Netherlands,X,Athletics,4 x 400m Relay Mixed,TEAM,/en/paris-2024/results/athletics/4-x-400m-rela...,2000-02-23,1972078,ATHX4X400M--NED01,True

In [77]:
data.sample()

,medal_date,medal_type,medal_code,name,gender,country_code,country,country_long,nationality_code,nationality,...,team,team_gender,discipline,event,event_type,url_event,birth_date,code_athlete,code_team,is_medallist
2163,2024-08-11,Gold Medal,1.0,GRINER Brittney,Female,USA,United States,United States of America,USA,United States,...,United States of America,W,Basketball,Women,HTEAM,/en/paris-2024/results/basketball/women/fnl-00...,1990-10-18,1954735,BKBWTEAM5---USA01,True

In [83]:
data['medal_date']=pd.to_datetime(data['medal_date'])
data['birth_date']=pd.to_datetime(data['birth_date'])        

data['age']=data['medal_date'].dt.year - data['birth_date'].dt.year

data['age'].min()

14

In [85]:
data['age'].max()

59